section {
  width: 100%;
  height: auto;
}
.gotopbtn {
  position: fixed;
  width: 33px;
  height: 32px;

  border-radius: 50px;
  bottom: 40px;
  right: 50px;
}

footer {
  background-color: #2ab2e2;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-bottom: 0%;
  margin-top: 40%;
}
